body {
  background: black;
}
.container {
  display: flex;
  justify-content: space-around;
}

.game {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 800px;
}

.square {
  background: black;
  border: 1px solid gray;
  width: 80px;
  height: 80px;
  margin: 3px;
  color: white;
  font-size: 48px;
}

.letter-selection-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.letter-option {
  background: gray;
  color:  white;
  border-radius: 3px;
  border: 1px solid gray;
  width: 50px;
  height: 60px;
  margin: 3px;
}